.benefits {
  padding: 94rem 0 100rem;
  position: relative;
  @media (max-width: $lg) {
    padding: 74rem 0 80rem;
  }
  &__title {
    margin: 0 0 54rem;
    text-align: center;
    @media (max-width: $lg) {
      margin-bottom: 36rem;
    }
  }
  &__list {
    margin-bottom: 23rem;
    &-row {
      margin-bottom: var(--gap-);
    }
    &-col {
      margin-bottom: var(--gap);
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &-card {
      height: 100%;
    }
  }
  &__footer {
    margin: 0 0 -100rem;
    position: relative;
    @media (max-width: $lg) {
      margin-bottom: -80rem;
    }
    &:before {
      background: $oliveColor;
      width: 100%;
      content: '';
      position: absolute;
      top: 164rem;
      bottom: 0;
      left: 0;
      border-radius: $radiusXs;
      z-index: -1;
      @media (max-width: $sm) {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
      }
    }
    &-hero {
      width: 100%;
      max-width: 261rem;
      margin: 0 auto;
      pointer-events: none;
      user-select: none;
      position: relative;
      left: 25rem;
      z-index: 0;
      @media (max-width: $sm) {
        left: 0;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}