.faq {
  padding: 94rem 0 100rem;
  @media (max-width: $lg) {
    padding: 74rem 0 80rem;
  }
  &__container {
  }
  &__title {
    margin: 0 0 54rem;
    text-align: center;
    @media (max-width: $lg) {
      margin-bottom: 36rem;
    }
  }
  &__list {
    &-col {
      @media (max-width: $md) {
        max-width: 100%;
        flex-basis: 100%;
      }
      &:not(:last-child) {
        @media (max-width: $md) {
          margin-bottom: var(--gap);
        }
      }
    }
    &-card {
      &:not(:last-child) {
        margin-bottom: var(--gap);
      }
    }
  }
}