<div class="auth-layout__aside">
  <div class="auth-layout__aside-register">
    <picture class="auth-layout__aside-register-hero">
      <!--<source
        srcset="images/benefits-hero.webp 1x, images/benefits-hero@2x.webp 2x"
        type="image/webp">-->
      <img
        src="images/benefits-hero.png"
        srcset="images/benefits-hero.png 1x, images/benefits-hero@2x.png 2x"
        width="261"
        height="271"
        alt="@@class">
    </picture>
    <div class="leonard-rating auth-layout__aside-rating">
      <picture class="leonard-rating__logo">
        <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
      </picture>
      <div class="leonard-rating__content">
        <div class="u-rating leonard-rating__current" style="--rating-progress: 5"></div>
        <p class="leonard-rating__title">Более 8.8К отзывов</p>
      </div>
    </div>
    <div class="auth-layout__aside-reviews">
      <div class="row auth-layout__aside-reviews-row">
        <div class="row__col--6 auth-layout__aside-reviews-col">
          <article class="reviews-card auth-layout__aside-reviews-card">
            <div class="reviews-card__inner">
              <div class="reviews-card__header">
                <div class="reviews-card__user">
                  <h3 class="fs-5 reviews-card__title">Елена</h3>
                  <p class="reviews-card__position">Маркетолог</p>
                </div>
                <div class="reviews-card__info">
                  <div class="u-rating reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="reviews-card__date">02 июля</time>
                </div>
              </div>
              <div class="u-content reviews-card__text">
                <p>Нейросеть стала незаменимым помощником в создании контента для наших кампаний. Она генерирует тексты, которые точно отвечают нашим требованиям и вдохновляют на новые идеи. Удобно, что нет необходимости в VPN.</p>
              </div>
            </div>
          </article>
        </div>
        <div class="row__col--6 auth-layout__aside-reviews-col">
          <article class="reviews-card auth-layout__aside-reviews-card">
            <div class="reviews-card__inner">
              <div class="reviews-card__header">
                <div class="reviews-card__user">
                  <h3 class="fs-5 reviews-card__title">Александр</h3>
                  <p class="reviews-card__position">SEO специалист</p>
                </div>
                <div class="reviews-card__info">
                  <div class="u-rating reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="reviews-card__date">29 июня</time>
                </div>
              </div>
              <div class="u-content reviews-card__text">
                <p>Используя нейросеть для оптимизации контента, я&nbsp;значительно&nbsp;увеличил трафик на сайте. Этот инструмент не только экономит время, но и обеспечивает высокое качество результатов.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>