<div class="auth-layout__aside-login">
  <div class="leonard-rating auth-layout__aside-login-rating">
    <picture class="leonard-rating__logo">
      <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
    </picture>
    <div class="leonard-rating__content">
      <div class="u-rating leonard-rating__current" style="--rating-progress: 5"></div>
      <p class="leonard-rating__title">Более 8.8К отзывов</p>
    </div>
  </div>
  <div class="u-marquee auth-layout__aside-login-marquee">
    <div class="u-marquee__row">
      <div class="u-marquee__col">
        <div class="u-marquee__item">Придумай контент-план на месяц для страницы мастера по маникюру</div>
        <div class="u-marquee__item">Придумай рекламную подачу для продукта</div>
        <div class="u-marquee__item">Напиши хештеги</div>
        <div class="u-marquee__item">Какой сейчас тренд в социальных сетях среди миллениалов?</div>
        <div class="u-marquee__item">Придумай 10 разных тем для поста<br>от&nbsp;блогера, ведущего лайф-контент</div>
        <div class="u-marquee__item">Сделай обложку сторис</div>
        <div class="u-marquee__item">Напиши пост</div>
        <div class="u-marquee__item">Придумай контент-план на месяц для страницы мастера по маникюру</div>
        <div class="u-marquee__item">Придумай рекламную подачу для продукта</div>
        <div class="u-marquee__item">Напиши хештеги</div>
        <div class="u-marquee__item">Какой сейчас тренд в социальных сетях среди миллениалов?</div>
      </div>
      <div class="u-marquee__col">
        <div class="u-marquee__item">Придумай контент-план на месяц для страницы мастера по маникюру</div>
        <div class="u-marquee__item">Придумай рекламную подачу для продукта</div>
        <div class="u-marquee__item">Напиши хештеги</div>
        <div class="u-marquee__item">Какой сейчас тренд в социальных сетях среди миллениалов?</div>
        <div class="u-marquee__item">Придумай 10 разных тем для поста<br>от&nbsp;блогера, ведущего лайф-контент</div>
        <div class="u-marquee__item">Сделай обложку сторис</div>
        <div class="u-marquee__item">Напиши пост</div>
        <div class="u-marquee__item">Придумай контент-план на месяц для страницы мастера по маникюру</div>
        <div class="u-marquee__item">Придумай рекламную подачу для продукта</div>
        <div class="u-marquee__item">Напиши хештеги</div>
        <div class="u-marquee__item">Какой сейчас тренд в социальных сетях среди миллениалов?</div>
      </div>
    </div>
  </div>
  <picture class="auth-layout__aside-login-hero">
    <!--<source
      srcset="images/benefits-hero.webp 1x, images/benefits-hero@2x.webp 2x"
      type="image/webp">-->
    <img
      src="images/benefits-hero.png"
      srcset="images/benefits-hero.png 1x, images/benefits-hero@2x.png 2x"
      width="261"
      height="271"
      alt="@@class">
  </picture>
</div>