<aside class="chat-aside chat__aside chat__aside--right">
  <div class="chat-aside__header">
    <p class="fs-5 chat-aside__title">История чатов</p>
    <hr class="chat-aside__hr">
    <nav class="chat-aside__nav" role="navigation">
      <ul class="js-chat-tabs-nav chat-aside__nav-list">
        <li class="chat-aside__nav-item">
          <a href="#chat-history-gpt" class="js-chat-tabs-nav-link chat-aside__nav-link is-active">Чаты с GPT</a>
        </li>
        <li class="chat-aside__nav-item">
          <a href="#chat-history-tools" class="js-chat-tabs-nav-link chat-aside__nav-link">Инструменты</a>
        </li>
      </ul>
    </nav>
    <hr class="chat-aside__hr">
  </div>
  <div class="u-scrollbar chat-aside__body">
    <div class="chat-aside__body-inner">
      <div class="js-chat-tabs-content">
        <div id="chat-history-gpt" class="chat-aside__body-history is-show">
          <div class="chat-aside__body-history-item">
            <p class="chat-aside__body-history-item-title">Сегодня</p>
            <div class="chat-aside__body-history-item-list">
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-aside__body-history-item">
            <p class="chat-aside__body-history-item-title">Предыдущие 7 дней</p>
            <div class="chat-aside__body-history-item-list">
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-aside__body-history-item">
            <p class="chat-aside__body-history-item-title">Предыдущие 30 дней</p>
            <div class="chat-aside__body-history-item-list">
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="chat-history-tools" class="chat-aside__body-history">
          <div class="chat-aside__body-history-item">
            <p class="chat-aside__body-history-item-title">Сегодня</p>
            <div class="chat-aside__body-history-item-list">
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__suptitle">Генерация изображений</p>
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-aside__body-history-item">
            <p class="chat-aside__body-history-item-title">Предыдущие 7 дней</p>
            <div class="chat-aside__body-history-item-list">
              <div class="history-item chat-aside__body-history-item-card">
                <div class="history-item__inner">
                  <p class="history-item__suptitle">YouTube и спроси</p>
                  <p class="history-item__title">
                    <a href="#" class="history-item__link">Составь контент-план для блогера, который ведет лайф-контент, есть...</a>
                  </p>
                  <div class="history-item__footer">
                    <div class="history-item__action">
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#edit"></use>
                        </svg>
                      </button>
                      <button type="button" class="history-item__action-btn">
                        <svg class="u-icon">
                          <use xlink:href="images/icons/icons.svg#delete"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>