<aside class="chat-aside chat__aside chat__aside--right">
  <div class="chat-aside__header">
    <p class="fs-5 chat-aside__title">История чатов</p>
    <hr class="chat-aside__hr">
    <nav class="chat-aside__nav" role="navigation">
      <ul class="js-chat-tabs-nav chat-aside__nav-list">
        <li class="chat-aside__nav-item">
          <a href="#chat-history-gpt" class="js-chat-tabs-nav-link chat-aside__nav-link is-active">Чаты с GPT</a>
        </li>
        <li class="chat-aside__nav-item">
          <a href="#chat-history-tools" class="js-chat-tabs-nav-link chat-aside__nav-link">Инструменты</a>
        </li>
      </ul>
    </nav>
    <hr class="chat-aside__hr">
  </div>
  <div class="u-scrollbar chat-aside__body">
    <div class="chat-aside__body-inner">
      <div class="js-chat-tabs-content">
        <div id="chat-history-gpt" class="chat-aside__body-history is-show">
          <p class="fs-5 chat-aside__body-history-empty">У вас нет начатых чатов</p>
        </div>
        <div id="chat-history-tools" class="chat-aside__body-history">
          <p class="fs-5 chat-aside__body-history-empty">У вас нет начатых чатов</p>
        </div>
      </div>
    </div>
  </div>
</aside>