<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <a href="/" class="logo logo--size-lg footer__logo">
      <picture class="logo__img">
        <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
      </picture>
    </a>
    <nav class="u-nav u-nav--mobile-direction-row footer__nav" role="navigation">
      <ul class="u-nav__list">
        <li class="u-nav__item">
          <a href="/#possibilities" class="js-anchor u-nav__link">Возможности</a>
        </li>
        <li class="u-nav__item">
          <a href="/#target-audience" class="js-anchor u-nav__link">Для кого</a>
        </li>
        <li class="u-nav__item">
          <a href="/#how-works" class="js-anchor u-nav__link">Как работает</a>
        </li>
        <li class="u-nav__item">
          <a href="/#reviews" class="js-anchor u-nav__link">Отзывы</a>
        </li>
        <li class="u-nav__item">
          <a href="/#faq" class="js-anchor u-nav__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <nav class="u-nav u-nav--mobile-direction-row footer__nav-sub" role="navigation">
      <ul class="u-nav__list">
        <li class="u-nav__item">
          <a href="contacts.html" class="js-anchor u-nav__link">Контакты</a>
        </li>
        <li class="u-nav__item">
          <a href="privacy.html" class="js-anchor u-nav__link">Политика конфиденциальности</a>
        </li>
        <li class="u-nav__item">
          <a href="terms.html" class="js-anchor u-nav__link">Условия использования</a>
        </li>
        <li class="u-nav__item">
          <a href="offer.html" class="js-anchor u-nav__link">Договор оферты</a>
        </li>
      </ul>
    </nav>
    <p class="footer__copyright">© 2024 Leonard AI. Все права защищены</p>
  </div>
</footer>