<header class="@@el header">
  <div class="container container--size-md header__container">
    <a href="/" class="logo logo--size-md header__logo">
      <picture class="logo__img">
        <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
      </picture>
    </a>
    <div class="header__dropdown">
      <hr class="d-lg-block header__dropdown-hr header__dropdown-hr--top">
      <nav class="u-nav u-nav--mobile-direction-column header__nav" role="navigation">
        <ul class="u-nav__list">
          <li class="u-nav__item">
            <a href="#possibilities" class="js-anchor u-nav__link">Возможности</a>
          </li>
          <li class="u-nav__item">
            <a href="#target-audience" class="js-anchor u-nav__link">Для кого</a>
          </li>
          <li class="u-nav__item">
            <a href="#how-works" class="js-anchor u-nav__link">Как работает</a>
          </li>
          <li class="u-nav__item">
            <a href="#reviews" class="js-anchor u-nav__link">Отзывы</a>
          </li>
          <li class="u-nav__item">
            <a href="#faq" class="js-anchor u-nav__link">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="header__dropdown-top">
        <button type="button" class="js-header-toggle-close d-lg-block header__toggle">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#close"></use>
          </svg>
        </button>
        <a href="/" class="d-lg-block logo logo--size-md header__dropdown-logo">
          <picture class="logo__img">
            <img src="images/logo-white.svg" width="155" height="35" alt="Leonard AI">
          </picture>
        </a>
        <p class="d-lg-block header__dropdown-title">Все нейросети в одном месте</p>
      </div>
      <hr class="d-lg-block header__dropdown-hr header__dropdown-hr--bottom">
      <div class="header__action">
        <div class="header__action-item">
          <a href="auth_login.html" class="btn btn--size-md btn--theme-accent header__action-btn">
            <span class="btn__inner">
              <span class="btn__title">Войти</span>
            </span>
          </a>
        </div>
        <div class="header__action-item">
          <button type="button" data-modal="popup-registration" class="btn btn--size-md btn--theme-beige btn--theme-beige-hover-white header__action-btn">
            <span class="btn__inner">
              <span class="btn__title">Зарегистрироваться</span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="js-header-toggle-open d-lg-block header__toggle">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-open"></use>
      </svg>
    </button>
  </div>
</header>